.addlist{
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    display: flex;
    }
    .add-list-item{
    
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    background-color: white;

}
.add-list-item h3{
    font-size: 18px;

}
.add-list-item input{
    width: 97%;
    margin-top: 10px;
    padding: 5px;
}
.add-list-item .switch-div{
    width: 97%;
    margin-top: 20px;
    padding: 5px;
   justify-content: space-between;
   display: flex;
}

.add-button{
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.btn-section{
    display: flex;
    justify-content: space-between;
}
.cancel-button{
    background-color: rgba(214, 214, 214, 0);

    color: black;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
   
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.switch-div p{
 
   width: 50%;


}
.switch-div .switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 16px;
  }
  
  .switch-div .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .switch-div .switch input:checked + .slider {
    background-color: #00f429;
  }
  
  .switch-div .switchinput:focus + .slider {
    box-shadow: 0 0 1px #00f429;
  }
  
  .switch-div .switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

@media screen and (max-width: 1080px) {
.image-container2 .remove-icon 
    {
    position: absolute;
    top: -15px;
    right: 6px ;
    z-index: 2;
    color: red;
    cursor: pointer;
    font-size: 1.5rem;
}
}