.menu-list-item{
    display: flex;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
}
.menu-list-item-edit{
    width: 15%;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;


}
.menu-list-item-mid{
    width: 85%;

    display: flex;
 
    
}
.menu-list-item-mid img{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    margin-right: 10px;
    border-radius: 50%;
    
}
.menu-list-item-mid h4{
font-size: 16px;
}
@media screen and (max-width: 1080px) {

    .menu-list-item-edit{
        width: 40%;
        text-align: right;
    
    }
    .menu-list-item-mid{
        width: 60%;
        
    }


}