.joditEditor {
    height: auto;
}

.AddPost {

    padding: 30px;
   height: auto;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
   margin-bottom: 30px;
   border-radius: 10px;
   background-color: white;
}

.AddPost input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
.AddPost h3 {
  font-size: 22px;
}


.AddPost select {
    width: 101.25%;
    padding: 6px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.AddPost h5{
font-size: 14px;
margin-top: 10px;
}



.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 144px;
    margin-top: 10px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px rgb(54, 141, 247);
    border-style: dashed;
    overflow: hidden;
    border-radius: 12px;
   


}

.image-container img {

height: 144px;
}

.image-container .remove-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
    color: red;
    cursor: pointer;
    font-size: 1.5rem;
}

.published {
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    padding: 8px;
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 12px;

}
.cancelbtn {
    background-color: rgba(172, 172, 172, 0);
  border: 1px solid black;
    color: black;
    padding: 8px;
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 12px;
 

}
.button-sections{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: fit-content;
}
@media screen and (max-width: 1080px) {

    .AddPost {

        padding: 5px;
       height: auto;
    }
    .image-container {
        position: relative;
        display: inline-block;
        width: 100%;
        height: auto;
        margin-top: 10px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    
    }
    
    .image-container img {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        border: 1px solid black;
        background-color: aliceblue;
    }
    
.AddPost input {
    width: 96%;
    padding: 5px;
    margin-bottom: 10px;
}

.AddPost h3 {
    font-size: 18px;
}





}