* {
  margin: 0;
  padding: 0;
}

.content-section {
  display: flex;
  height: 100vh;
  width: 100%;
  background: linear-gradient(180deg, #ff909017 0%, #bdff972a 33%, #5bffff1c 71%, #bd9df023 100%);

}

.content-section .left {
  margin: 2%;
  margin-right: 0%;
  width: 18%;
  transition: width 0.3s ease;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.199);
  background-color: white;
}

.content-section .left .logo {
  width: 50%;

  margin: 10px auto;
  background-color: rgb(82, 29, 29);
  padding: 20px auto;
  color: black;

}

.content-section .left ul {
  width: 80%;
  padding: 0;
  margin: 0;
  gap: 20px;

}
.content-section .left.collapsed ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

}
.content-section .left ul li {
  color: #858585;
  padding: 5px;
  list-style: none;
  display: flex;


  margin-top: 5px;
  gap: 10px;
}

.content-section .left ul li:nth-last-child(2) {
  margin-top: 20vh;
}

.content-section .left.collapsed ul li:nth-last-child(2) {
  margin-top: 15vh;
}
.content-section .left.collapsed ul li:first-child {
  margin-top: 5vh;
}

.content-section .left ul li:hover {
  background-color: rgba(0, 0, 0, 0.148);
}

.content-section .left.collapsed ul li:hover {

  background-color: rgba(0, 0, 0, 0);
  /* Added hover effect for collapsed state */
}



.content-section .left.collapsed {
  width: 7%;

}

.content-section .left.collapsed ul li p {
  display: none;
}


.content-section .right {
  width: 82%;
  padding: 20px;
  padding-top: 30px;
  height: 92vh;
  overflow-y: scroll;
}

.content-section .right.expanded {
  width: 93%;
}

.close-logo {
  color: rgb(0, 0, 0);
  font-size: 30px;
  top: 100px;
  left: -15px;
  position: relative;
  transition: transform 0.6s ease;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.close-logo.rotated {
  transform: rotate(180deg);
}


.list-person-icons {
  height: 25px;
}



.content-section .left.collapsed ul li .list-icons:hover {

  background-color: rgba(0, 0, 0, 0.201);
  color: black;

}

@media screen and (max-width: 1080px) {
  .content-section .left {

    margin: 0%;
    padding: 0%;
  }

  .content-section .left.collapsed .logo {
    width: 50px;
    height: 50px;
    margin: 0%;
    padding: 0%;
    color: black;

  }

  .content-section .close-logo {
    display: none;
  }



  .content-section .left ul li p {
    display: none;
  }
}